---
import Layout from "../layouts/Layout.astro";

const cvUrl = import.meta.env.BASE_URL + "CV.pdf"
---

<Layout title="Silas Hsu - CV">
	<main class="p-4">
		<i>CV last updated July 5, 2024.</i>
		<a href={cvUrl} target="_blank" class="text-blue-600">
			Open PDF in a new tab.
		</a>
		<div class="flex justify-center mt-4 lg:px-4">
			<iframe src={cvUrl} title="Silas's CV" class="w-full lg:w-11/12 h-screen" />
		</div>
	</main>
</Layout>
