---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Silas Hsu -- CV">
	<main class="p-4">
		Human Agency and Oversight Over Algorithms
		Control panel screenshot

		The European Commission has identified human agency and oversight as one of the requirements of trustworthy AI. In this space, I recognize that control settings in the user interface give people the agency to act, but that’s not enough. My research demonstrates the provision of settings just for the sake of providing settings will not satisfy users. Instead, settings satisfy users because of expectations towards the settings and indirect benefits like understanding of a system’s functionality.

		In the future, I will explore ways to target control setting design to increase these indirect benefits. For example, more transparent control settings might both give users greater insights into how to control a system, increasing feelings of autonomy. Stay tuned!
		Improving Teaching Ability of AI-Powered Autograders
		Screenshot of prompt to write a short English-language description of Python code

		Recently, an intro computer programming course at UIUC deployed an AI autograder that assessed whether a student’s plain-English description of code was correct. Because AI is not 100% accurate, it raises questions on how to manage errors and students’ trust and satisfaction with such systems, and how inaccuracies are affecting learning. We have found, for instance, that student’s inaccurate folk theories about how the system works could lead to unproductive answer construction strategies. Longer term, we plan to design interventions that improve the teaching ability of short answer AI autograders, which could prove especially beneficial to large classes that want to assess students’ open-ended responses.
		Video Games for Assisting Rhythm Sight Reading Skills
		Rhythmic video game screenshot

		Play the rhythm game that I developed for this project!

		Learning rhythm and how it is notated is essential for all musicians. There are some games on the market that are designed to help people practice their rhythm reading skills, but there has not been a formal evaluation of these games. I am currently designing a quasi-experimental study that will shed light on the effectiveness of such games at helping people practice, compared to a simple take-home worksheet.
	</main>
</Layout>
