---
interface Props {
	href: string;
	className?: string;
	additionalActiveClasses?: string
}

const { href, className, additionalActiveClasses } = Astro.props;
let resolvedHref = href.endsWith("/") ? href : href + "/";
const isLinkToCurrentPage = resolvedHref === Astro.url.pathname;
resolvedHref = isLinkToCurrentPage ? "#" : href;
const activeCss = `text-blue-600 font-bold ${additionalActiveClasses || ""} `;
const resolvedCss = (isLinkToCurrentPage ? activeCss : "") + (className || "");
---
<a href={resolvedHref} class={resolvedCss}><slot /></a>
